
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>calender</title>
    <link rel="stylesheet" type="text/css" href="/public/calender.css">
    <style>
      /* 기본 스타일 */

      /* 화면 너비가 768px 이하인 경우에 적용될 스타일 */
      @media (max-width: 768px) {
          /* 모바일 환경에서 요소의 크기를 반으로 줄임 */
          .your-element {
              width: 50%;
              /* 다른 스타일 속성들도 필요에 따라 조정 가능 */
          }
      }
  </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    <%- include('nav.html') %>
    <!-- For more features use the AutoHTML plugin window in figma ... --> 
<div class="_3" >
  <svg class="sticker-09" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M24 48C37.2548 48 48 37.2548 48 24L24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48Z" fill="#E6EE9B"/>
      <g filter="url(#filter0_d_165_1404)">
          <path d="M48 24C34.7452 24 24 13.2548 24 0L48 24Z" fill="#B8BE7C"/>
      </g>
      <defs>
          <filter id="filter0_d_165_1404" x="20" y="0" width="32" height="32" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="4"/>
              <feGaussianBlur stdDeviation="2"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_165_1404"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_165_1404" result="shape"/>
          </filter>
      </defs>
  </svg>
  <svg class="sticker-14" width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 54V0H31.59L54 22.41V54H0Z" fill="#FFCC80"/>
      <g filter="url(#filter0_d_165_1407)">
          <path d="M31.32 22.1402L31.59 0.000154495L54 22.4102L31.32 22.1402Z" fill="#CCA366"/>
      </g>
      <defs>
          <filter id="filter0_d_165_1407" x="27.3199" y="0" width="30.6801" height="30.4102" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="4"/>
              <feGaussianBlur stdDeviation="2"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_165_1407"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_165_1407" result="shape"/>
          </filter>
      </defs>
  </svg>
  <div class="group-35" >
      <div class="div" >일 월 화 수 목 금 토 </div>
      <div class="_1-8-15-22-29" >
1<br/>8<br/>15<br/>22<br/>29 </div>
      <div class="_2-9-16-23-30" >
          <span>
              <span class="_2-9-16-23-30-span">2<br/>9<br/>
          </span>
          <span class="_2-9-16-23-30-span2">16<br/>23<br/>30</span>
      </span>
  </div>
  <div class="_3-10-17-24-31" >
      <span>
          <span class="_3-10-17-24-31-span">3<br/>
      </span>
      <span class="_3-10-17-24-31-span2">10<br/>17<br/>24<br/>31</span>
  </span>
</div>
<div class="_4-11-18-25" >
4<br/>11<br/>18<br/>25 </div>
<div class="_5-12-19-26" >
5<br/>12<br/>19<br/>26 </div>
<div class="_6-13-20-27" >
6<br/>13<br/>20<br/>27 </div>
<div class="_7-14-21-28" >
7<br/>14<br/>21<br/>28 </div>
</div>
<div class="january-2024" >
January, 2024 </div>
<div class="group-44" >
  <div class="rectangle-42" >
  </div>
  <div class="div2" >
종강 </div>
</div>
<div class="group-45" >
  <div class="rectangle-422" >
  </div>
  <div class="div3" >
회식! </div>
</div>
<div class="group-40" >
  <div class="rectangle-43" >
  </div>
  <div class="div4" >
경원 기말 </div>
</div>
<div class="group-50" >
  <div class="rectangle-432" >
  </div>
  <div class="div5" >
일지 제출 </div>
</div>
<div class="group-46" >
  <div class="rectangle-433" >
  </div>
  <div class="div6" >
퇴소 준비 </div>
</div>
<div class="group-41" >
  <div class="rectangle-434" >
  </div>
  <div class="div7" >
과외 준비 </div>
</div>
<div class="group-38" >
  <div class="rectangle-46" >
  </div>
  <div class="ch-10" >
ch10 오답 </div>
</div>
<div class="group-42" >
  <div class="rectangle-462" >
  </div>
  <div class="div8" >
책 반납 </div>
</div>
<div class="group-47" >
  <div class="rectangle-463" >
  </div>
  <div class="div9" >
강의 복습 </div>
</div>
<div class="group-43" >
  <div class="rectangle-464" >
  </div>
  <div class="div10" >
저녁 약속 </div>
</div>
<div class="group-39" >
  <div class="rectangle-465" >
  </div>
  <div class="div11" >
시험 공부 </div>
</div>
<div class="group-49" >
  <div class="rectangle-466" >
  </div>
  <div class="div12" >
점심 약속 </div>
</div>
<div class="rectangle-45" >
</div>
<div class="w" >
삿포로 여행 w. 친구💕 </div>
<div class="group-36" >
  <div class="rectangle-44" >
  </div>
  <div class="div13" >
원가 기말 </div>
</div>
<div class="group-48" >
  <div class="rectangle-442" >
  </div>
  <div class="div14" >
과제 제출 </div>
</div>
<div class="group-37" >
  <div class="rectangle-443" >
  </div>
  <div class="div15" >
피부과 </div>
</div>
<img class="_2023-11-23-6-03-1"  src="/public/image/calender/calenderImage.png" />
<svg class="icon-heart" width="90" height="95" viewBox="0 0 90 95" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M77.5868 22.0433C67.7799 9.28444 49.0953 19.173 44.5008 35.0279C39.445 22.0432 23.3605 6.17319 10.4952 22.0433C-2.88982 38.5546 20.1444 65.8064 44.5008 78.791M77.5868 22.0433C96.4271 46.5546 65.638 66.2873 44.5008 78.791M77.5868 22.0433C88.7001 32.0508 97.6417 57.4109 44.5008 78.791" stroke="#F25694" stroke-width="4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
<div class="annotation" >
  <svg class="start" width="2" height="16" viewBox="0 0 2 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M-9.53674e-07 8.54591C-9.53674e-07 7.61752 11.928 -5.29231 13.0259 -6.48544C14.1237 -7.67857 14.3348 -6.59413 13.4481 -5.29231C12.5613 -3.99049 2.14741 7.35756 2.14741 7.75686C2.14741 9.05457 10.5346 19.9615 13.4481 22.9987C11.4213 23.1614 -9.53674e-07 8.54591 -9.53674e-07 8.54591Z" stroke="#2AA0E1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  <svg class="line-start" width="74" height="16" viewBox="0 0 74 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M37.0018 8.49999C42.0657 8.49999 52.9175 7.99998 73.6875 7.9999C74.4107 7.9999 74.4109 8.99998 73.6875 8.99998C55.4823 8.99998 53.6408 9.5 37.0018 9.5C26.4166 9.5 11.4019 9.34799 3.51379 8.99977C2.79023 8.99977 2.868 7.99977 3.51379 7.99977C7.39729 7.99977 26.3213 8.15177 37.0018 8.49999Z" stroke="#2AA0E1" stroke-width="3"/>
  </svg>
  <svg class="line-center" width="81" height="16" viewBox="0 0 81 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.5 8C221.899 8 -133.955 8 80.4869 8M0.5 9.00015C219.939 9.00015 -131.108 9 80.5002 9" stroke="#2AA0E1" stroke-width="3"/>
  </svg>
  <svg class="line-end" width="74" height="16" viewBox="0 0 74 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M23.1176 8.66657C18.1305 8.66657 5.22549 8.00008 0.0342457 8.00008C-0.677994 8.00008 -0.67817 9 0.0342458 9C17.9634 9.00001 19.0613 9.50001 35.4481 9.5C45.3039 9.5 54.6078 8.66658 71.9939 8.66658C72.7065 8.66658 72.6299 8 71.9939 8C68.1693 8 33.6362 8.43446 23.1176 8.66657Z" stroke="#2AA0E1" stroke-width="3"/>
  </svg>
  <svg class="component-2" width="2" height="16" viewBox="0 0 2 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 8.43091C2 7.06713 -9.33472 -3.76609 -11.4366 -6.57393C-13.5385 -9.38178 -13.1882 -7.40758 -12.3124 -6.04741C-11.4366 -4.68724 0 7.41343 0 8C0 9.9063 -13.1845 21.3659 -12.3124 23C-12 23.5853 -9.51391 20.6011 -7.5 18C-4.74651 14.4437 2 8.43091 2 8.43091Z" stroke="#2AA0E1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>
<svg class="vector-3362" width="58" height="39" viewBox="0 0 58 39" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0.389862 38.1522C99.1935 38.1522 46.0326 -7.42819 22.279 1.05184C-3.78222 10.3557 -21.4142 38.1522 55.0158 38.1522C55.4598 38.1522 55.474 38.9999 55.0248 38.9999C-21.4051 38.9999 -2.60848 10.9762 23.4642 1.71889C44.5707 -5.77513 99.1934 39 0.389862 39C-0.0549299 39 -0.0530271 38.152 0.389862 38.1522Z" stroke="#C7A93E" stroke-width="3"/>
</svg>
<div class="annotation2" >
  <svg class="start2" width="2" height="16" viewBox="0 0 2 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M-9.53674e-07 8.54591C-9.53674e-07 7.61752 11.928 -5.29231 13.0259 -6.48544C14.1237 -7.67857 14.3348 -6.59413 13.4481 -5.29231C12.5613 -3.99049 2.14741 7.35756 2.14741 7.75686C2.14741 9.05457 10.5346 19.9615 13.4481 22.9987C11.4213 23.1614 -9.53674e-07 8.54591 -9.53674e-07 8.54591Z" stroke="#D2A142" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  <svg class="line-start2" width="52" height="16" viewBox="0 0 52 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M26.5 8.49999C29.9999 8.49999 37.5 7.99998 51.8551 7.9999C52.3549 7.9999 52.355 8.99998 51.8551 8.99998C39.2727 8.99998 38 9.5 26.5 9.5C19.1842 9.5 8.80686 9.34799 3.35506 8.99977C2.85498 8.99977 2.90873 7.99977 3.35506 7.99977C6.03911 7.99977 19.1183 8.15177 26.5 8.49999Z" stroke="#D2A142" stroke-width="3"/>
  </svg>
  <svg class="line-center2" width="80" height="16" viewBox="0 0 80 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 8C221.399 8 -134.455 8 79.9869 8M0 9.00015C219.439 9.00015 -131.608 9 80.0002 9" stroke="#D2A142" stroke-width="3"/>
  </svg>
  <svg class="line-end2" width="52" height="16" viewBox="0 0 52 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.5 8.66657C12.0158 8.66657 3 8.00008 -0.62676 8.00008C-1.12435 8.00008 -1.12447 9 -0.62676 9C11.8991 9.00001 12.6661 9.50001 24.1144 9.5C31 9.5 37.5 8.66657 49.6464 8.66657C50.1442 8.66657 50.0907 8 49.6464 8C46.9744 8 22.8485 8.43446 15.5 8.66657Z" stroke="#D2A142" stroke-width="3"/>
  </svg>
  <div class="end" >
  </div>
</div>
<svg class="icon-star" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M28.1201 20.8926C29.5097 18.531 30.5081 13.2622 30.5081 13.2622C30.5081 13.2622 25.3368 14.1073 22.5781 15.1633C20.8797 13.4906 15.7307 10.7828 15.7307 10.7828C15.7307 10.7828 14.6577 16.3145 15.1784 19.0854C12.0507 20.3369 8.72683 23.5206 8.72683 23.5206C8.72683 23.5206 13.7451 26.3452 16.7554 26.9163M28.1201 20.8926C29.9877 22.8819 32.8693 27.3766 32.8693 27.3766M28.1201 20.8926C28.8898 21.3649 30.5735 22.5308 31.1511 23.4163C31.7288 24.3018 32.5373 26.4254 32.8693 27.3766M32.8693 27.3766C32.8693 27.3766 26.3077 27.947 24.5364 27.3963C23.9011 29.1549 19.4066 34.8549 19.4066 34.8549M19.4066 34.8549C19.4066 34.8549 16.913 30.1505 16.7554 26.9163M19.4066 34.8549C19.4066 34.8549 18.6109 30.6724 18.1843 29.6121C17.7577 28.5517 16.7554 26.9163 16.7554 26.9163" stroke="#F3D018" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
<svg class="icon-star2" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M22.1952 19.359C24.5677 17.9881 28.0316 13.8944 28.0316 13.8944C28.0316 13.8944 23.1148 12.083 20.1938 11.6432C19.5395 9.35097 16.392 4.4584 16.392 4.4584C16.392 4.4584 12.7336 8.74417 11.8221 11.4122C8.48369 10.9609 4.02288 12.0946 4.02288 12.0946C4.02288 12.0946 6.99908 17.0244 9.33776 19.0041M22.1952 19.359C22.8408 22.0101 23.135 27.3411 23.135 27.3411M22.1952 19.359C22.6324 20.1491 23.5235 21.993 23.5902 23.0482C23.6568 24.1034 23.3145 26.3498 23.135 27.3411M23.135 27.3411C23.135 27.3411 17.1435 24.6058 15.8731 23.2541C14.454 24.4718 7.73509 27.2188 7.73509 27.2188M7.73509 27.2188C7.73509 27.2188 7.88201 21.8964 9.33776 19.0041M7.73509 27.2188C7.73509 27.2188 9.1026 23.1869 9.25357 22.054C9.40454 20.9211 9.33776 19.0041 9.33776 19.0041" stroke="#F3D018" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
<svg class="icon-star3" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M17.8305 25.8346C19.9607 27.558 25.0241 29.3242 25.0241 29.3242C25.0241 29.3242 24.9527 24.0848 24.3161 21.2004C26.2215 19.7678 29.6606 15.0757 29.6606 15.0757C29.6606 15.0757 24.3483 13.1967 21.5308 13.3022C20.7554 10.0239 18.098 6.26587 18.098 6.26587C18.098 6.26587 14.5627 10.8115 13.5529 13.7044M17.8305 25.8346C15.587 27.3876 10.7158 29.5732 10.7158 29.5732M17.8305 25.8346C17.2497 26.526 15.8477 28.0188 14.8865 28.4593C13.9254 28.8997 11.7055 29.3854 10.7158 29.5732M10.7158 29.5732C10.7158 29.5732 11.1215 22.9994 11.928 21.3289C10.2826 20.4406 5.30958 15.1529 5.30958 15.1529M5.30958 15.1529C5.30958 15.1529 10.3309 13.3822 13.5529 13.7044M5.30958 15.1529C5.30958 15.1529 9.56373 14.9842 10.6755 14.7191C11.7873 14.4539 13.5529 13.7044 13.5529 13.7044" stroke="#F3D018" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
