
<!--scr:경로 이슈 해결:public,image,index안에-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan Deilivery</title>
    <link rel="stylesheet" type="text/css" href="/public/index.css">
</head>
<body>
    <div class="slide-16-9-1" >
        <div class="dribbble-shot-5" >
        </div>
        <div class="ellipse-12" >
        </div>
        <div class="ellipse-13" >
        </div>
        <div class="rectangle-8" >
        </div>
        <div class="rectangle-9" >
        </div>
        <div class="rectangle-10" >
        </div>
        <div class="rectangle-11" >
        </div>
        <div class="group-3" >
            <img class="detail-resto-page"  src="/public/image/index/Detail Resto Page.png" />
            <div class="rectangle-7" >
            </div>
            <div class="rectangle-5" >
            </div>
            <img class="promo-page-v"  src="/public/image/index/Promo Page _ V.png" />
            <img class="checkout-page"  src="/public/image/index/Checkout Page.png" />
            <div class="rectangle-4" >
            </div>
            <div class="rectangle-6" >
            </div>
            <img class="success-page-v-2-1"  src="/public/image/index/Success Page V2 1.png" />
        </div>
        <img class="image-1"  src="/public/image/index/image 1.png" />
        <div class="ellipse-1" >
        </div>
        <div class="ellipse-2" >
        </div>
        <div class="ellipse-9" >
        </div>
        <div class="ellipse-5" >
        </div>
        <img class="_1-9"  src="/public/image/index/1 9.png" />
        <div class="div">플랜 딜리버리 </div>
        <div class="div2">당신에게 맞춰진
            <br/>똑똑한 시간 관리 플래너 
        </div>
        <div class="ellipse-4" >
        </div>
        <img class="saly-13"  src="/public/image/index/Saly-13.png" />
        <img class="saly-132"  src="/public/image/index/Saly-13-1.png" />
        <img class="saly-133"  src="/public/image/index/Saly-13-2.png" />
        <svg class="polygon-2" width="84" height="87" viewBox="0 0 84 87" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_22_1044)">
                    <path d="M41.5431 28.8158C52.3906 28.3043 59.665 39.8018 54.5573 49.3851L46.3148 64.8498C41.2651 74.3243 27.8695 74.823 22.1292 65.7503L12.867 51.111C7.12668 42.0382 13.3142 30.1468 24.0384 29.6412L41.5431 28.8158Z" fill="#5A962A"/>
            </g>
            <defs>
                    <filter id="filter0_d_22_1044" x="-2.32129" y="19.7993" width="71.5459" height="69.4659" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dy="4"/>
                        <feGaussianBlur stdDeviation="6.5"/>
                        <feComposite in2="hardAlpha" operator="out"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_22_1044"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_22_1044" result="shape"/>
                    </filter>
            </defs>
        </svg>
    </div>

    <a href = "/login-social">로그인하기</a>
</body>
</html>


