._3, ._3 * {
    box-sizing: border-box;
    }
._3 {
    background: #ffffff;
    border-radius: 32px;
    width: 550px;
    height: 1192px;
    position: relative;
    overflow: hidden;
    }

 .sticker-09 {
    height: auto;
    position: absolute;
    right: 74%;
    left: 17.27%;
    width: 8.73%;
    bottom: 51.51%;
    top: 44.46%;
    height: 4.03%;
    overflow: visible;
    }

 .sticker-14 {
    height: auto;
    position: absolute;
    left: 486px;
    top: 398px;
    overflow: visible;
    }

 .group-35 {
    position: absolute;
    inset: 0;
    }

 .div {
    color: #a6a6a6;
    text-align: center;
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    position: absolute;
    left: calc(50% - 243px);
    top: 138px;
    letter-spacing: 25.2px; 
    }

 ._1-8-15-22-29 {
    color: #ff7878;
    text-align: center;
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 18px;
    line-height: 179px;
    font-weight: 600;
    position: absolute;
    left: 26px;
    top: 107px;
    width: 26px;
    height: 787px;
    }

 ._2-9-16-23-30 {
    text-align: center;
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 18px;
    line-height: 179px;
    font-weight: 600;
    position: absolute;
    left: 104px;
    top: 107px;
    width: 28px;
    height: 787px;
    }

._2-9-16-23-30-span {
    color: #ff7878;
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 18px;
    line-height: 179px;
    font-weight: 600;
    }

._2-9-16-23-30-span2 {
    color: #000000;
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 18px;
    line-height: 179px;
    font-weight: 600;
    }

 ._3-10-17-24-31 {
    text-align: center;
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 18px;
    line-height: 179px;
    font-weight: 600;
    position: absolute;
    left: 183px;
    top: 107px;
    width: 25px;
    height: 787px;
    }

._3-10-17-24-31-span {
    color: #ff7878;
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 18px;
    line-height: 179px;
    font-weight: 600;
    }

._3-10-17-24-31-span2 {
    color: #000000;
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 18px;
    line-height: 179px;
    font-weight: 600;
    }

 ._4-11-18-25 {
    color: #000000;
    text-align: center;
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 18px;
    line-height: 179px;
    font-weight: 600;
    position: absolute;
    left: 262px;
    top: 107px;
    width: 24px;
    height: 628px;
    }

 ._5-12-19-26 {
    color: #000000;
    text-align: center;
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 18px;
    line-height: 179px;
    font-weight: 600;
    position: absolute;
    left: 340px;
    top: 107px;
    width: 24px;
    height: 628px;
    }

 ._6-13-20-27 {
    color: #000000;
    text-align: center;
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 18px;
    line-height: 179px;
    font-weight: 600;
    position: absolute;
    left: 415px;
    top: 107px;
    width: 27px;
    height: 628px;
    }

 ._7-14-21-28 {
    color: #000000;
    text-align: center;
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 18px;
    line-height: 179px;
    font-weight: 600;
    position: absolute;
    left: 494px;
    top: 107px;
    width: 26px;
    height: 628px;
    }

 .january-2024 {
    color: #696969;
    text-align: center;
    font-family: 'Preahvihear-Regular', sans-serif;
    font-size: 24px;
    line-height: 16px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 87px);
    top: 83px;
    }

 .group-44 {
    position: absolute;
    inset: 0;
    }

 .rectangle-42 {
    background: #fff5db;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    position: absolute;
    left: 389px;
    top: 573px;
    }

 .div2 {
    color: #df5000;
    text-align: center;
    font-family: 'AritaDotum40Otf-Bold', sans-serif;
    font-size: 30px;
    line-height: 16px;
    font-weight: 700;
    position: absolute;
    left: 402px;
    top: 585px;
    }

 .group-45 {
    position: absolute;
    inset: 0;
    }

 .rectangle-422 {
    background: #dbfffb;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    position: absolute;
    left: 79px;
    top: 398px;
    }

 .div3 {
    color: #008383;
    text-align: center;
    font-family: 'LotteriaChab-Regular', sans-serif;
    font-size: 25px;
    line-height: 16px;
    font-weight: 400;
    position: absolute;
    left: 91px;
    top: 409px;
    }

 .group-40 {
    position: absolute;
    inset: 0;
    }

 .rectangle-43 {
    background: #dbecff;
    border-radius: 10px;
    width: 80px;
    height: 28px;
    position: absolute;
    left: 312px;
    top: 398px;
    }

 .div4 {
    color: #2a227c;
    text-align: center;
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    position: absolute;
    left: 319px;
    top: 404px;
    }

 .group-50 {
    position: absolute;
    inset: 0;
    }

 .rectangle-432 {
    background: #dbecff;
    border-radius: 10px;
    width: 80px;
    height: 28px;
    position: absolute;
    left: 392px;
    top: 808px;
    }

 .div5 {
    color: #2a227c;
    text-align: center;
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    position: absolute;
    left: 399px;
    top: 814px;
    }

 .group-46 {
    position: absolute;
    inset: 0;
    }

 .rectangle-433 {
    background: #dbecff;
    border-radius: 10px;
    width: 80px;
    height: 28px;
    position: absolute;
    left: 155px;
    top: 573px;
    }

 .div6 {
    color: #2a227c;
    text-align: center;
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    position: absolute;
    left: 162px;
    top: 579px;
    }

 .group-41 {
    position: absolute;
    inset: 0;
    }

 .rectangle-434 {
    background: #dbecff;
    border-radius: 10px;
    width: 80px;
    height: 28px;
    position: absolute;
    left: 469px;
    top: 214px;
    }

 .div7 {
    color: #2a227c;
    text-align: center;
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    position: absolute;
    left: 476px;
    top: 220px;
    }

 .group-38 {
    position: absolute;
    inset: 0;
    }

 .rectangle-46 {
    background: #ffeadb;
    border-radius: 10px;
    width: 80px;
    height: 28px;
    position: absolute;
    left: 312px;
    top: 428px;
    }

 .ch-10 {
    color: #64381e;
    text-align: center;
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    position: absolute;
    left: 315px;
    top: 434px;
    }

 .group-42 {
    position: absolute;
    inset: 0;
    }

 .rectangle-462 {
    background: #ffe6ef;
    border-radius: 10px;
    width: 80px;
    height: 28px;
    position: absolute;
    left: 232px;
    top: 398px;
    }

 .div8 {
    color: #772250;
    text-align: center;
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    position: absolute;
    left: 246px;
    top: 404px;
    }

 .group-47 {
    position: absolute;
    inset: 0;
    }

 .rectangle-463 {
    background: #f4e6ff;
    border-radius: 10px;
    width: 80px;
    height: 28px;
    position: absolute;
    left: 235px;
    top: 573px;
    }

 .div9 {
    color: #472277;
    text-align: center;
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    position: absolute;
    left: 242px;
    top: 579px;
    }

 .group-43 {
    position: absolute;
    inset: 0;
    }

 .rectangle-464 {
    background: #ffe6ef;
    border-radius: 10px;
    width: 80px;
    height: 28px;
    position: absolute;
    left: 469px;
    top: 244px;
    }

 .div10 {
    color: #772250;
    text-align: center;
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    position: absolute;
    left: 476px;
    top: 250px;
    }

 .group-39 {
    position: absolute;
    inset: 0;
    }

 .rectangle-465 {
    background: #ffeadb;
    border-radius: 10px;
    width: 80px;
    height: 28px;
    position: absolute;
    left: -1px;
    top: 398px;
    }

 .div11 {
    color: #64381e;
    text-align: center;
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    position: absolute;
    left: 6px;
    top: 404px;
    }

 .group-49 {
    position: absolute;
    inset: 0;
    }

 .rectangle-466 {
    background: #ffeadb;
    border-radius: 10px;
    width: 80px;
    height: 28px;
    position: absolute;
    left: -1px;
    top: 960px;
    }

 .div12 {
    color: #64381e;
    text-align: center;
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    position: absolute;
    left: 6px;
    top: 966px;
    }

 .rectangle-45 {
    background: #ffe6ef;
    border-radius: 10px;
    width: 474px;
    height: 37px;
    position: absolute;
    left: 75px;
    top: 769px;
    }

 .w {
    color: #7c224d;
    text-align: center;
    font-family: 'NanumDaHaengCe-Regular', sans-serif;
    font-size: 26px;
    line-height: 16px;
    font-weight: 400;
    position: absolute;
    left: 116px;
    top: 776px;
    width: 397px;
    }

 .group-36 {
    position: absolute;
    inset: 0;
    }

 .rectangle-44 {
    background: #f0fac4;
    border-radius: 10px;
    width: 80px;
    height: 28px;
    position: absolute;
    left: 392px;
    top: 398px;
    }

 .div13 {
    color: #657217;
    text-align: center;
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    position: absolute;
    left: 399px;
    top: 404px;
    }

 .group-48 {
    position: absolute;
    inset: 0;
    }

 .rectangle-442 {
    background: #f0fac4;
    border-radius: 10px;
    width: 80px;
    height: 28px;
    position: absolute;
    left: 0px;
    top: 930px;
    }

 .div14 {
    color: #657217;
    text-align: center;
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    position: absolute;
    left: 7px;
    top: 936px;
    }

 .group-37 {
    position: absolute;
    inset: 0;
    }

 .rectangle-443 {
    background: #f0fac4;
    border-radius: 10px;
    width: 80px;
    height: 28px;
    position: absolute;
    left: 156px;
    top: 214px;
    }

 .div15 {
    color: #657217;
    text-align: center;
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    position: absolute;
    left: 173px;
    top: 220px;
    }

 ._2023-11-23-6-03-1 {
    width: 141px;
    height: 97px;
    position: absolute;
    left: 282px;
    top: 220px;
    object-fit: cover;
    }

 .icon-heart {
    width: 90px;
    height: 94.19px;
    position: absolute;
    left: 73px;
    top: 686px;
    overflow: visible;
    }

 .annotation {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    width: 231px;
    position: absolute;
    left: 155px;
    top: 626px;
    }

 .start {
    flex-shrink: 0;
    width: 2px;
    height: 16px;
    position: relative;
    overflow: visible;
    }

 .line-start {
    flex: 1;
    height: 16px;
    position: relative;
    overflow: visible;
    }

 .line-center {
    flex-shrink: 0;
    width: 80px;
    height: 16px;
    position: relative;
    overflow: visible;
    }

 .line-end {
    flex: 1;
    height: 16px;
    position: relative;
    overflow: visible;
    }

 .component-2 {
    flex-shrink: 0;
    width: 2px;
    height: 16px;
    position: relative;
    overflow: visible;
    }

 .vector-3362 {
    height: 39px;
    position: absolute;
    right: 15px;
    left: 477px;
    bottom: 977px;
    overflow: visible;
    }

 .annotation2 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    width: 188px;
    position: absolute;
    left: 372px;
    top: 332px;
    }

 .start2 {
    flex-shrink: 0;
    width: 2px;
    height: 16px;
    position: relative;
    overflow: visible;
    }

 .line-start2 {
    flex: 1;
    height: 16px;
    position: relative;
    overflow: visible;
    }

 .line-center2 {
    flex-shrink: 0;
    width: 80px;
    height: 16px;
    position: relative;
    overflow: visible;
    }

 .line-end2 {
    flex: 1;
    height: 16px;
    position: relative;
    overflow: visible;
    }

 .end {
    flex-shrink: 0;
    width: 2px;
    height: 16px;
    position: relative;
    }

 .icon-star {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 378.97px;
    top: 541.01px;
    transform: translate(0px, -13.04px);
    overflow: visible;
    }

 .icon-star2 {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 413.96px;
    top: 513px;
    transform: translate(-1.96px, 0px);
    overflow: visible;
    }

 .icon-star3 {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 467.65px;
    top: 530px;
    transform: translate(-28.65px, 0px);
    overflow: visible;
    }

